:root {
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar > ul > li{
    border-radius: 10px;
}

.introduction {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    z-index: 6;
}

.introduction p {
    width: 70%;
    float: left;
}

.introduction img {
    width: 25%;
    float: right;
}
.assignment  {
    position: absolute;
    top: 300px;
    left: 70%;
    z-index: 10;
}
.portfolio {
    position: relative;
    top: 300px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.portfolio p:first-child{
    box-shadow: 5px 5px 1px 1px;
}

.portfolio p{
    display: inline-block;
}
.schedule {
    position: relative;
    top: 350px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    background-color: purple;
}
@font-face {
    font-family: 'myfont';
    src: url(../fonts/chunkfive.eot);
}
h1{
    font-family: 'Dancing Script', sans-serif;
    font-weight: 100;
    letter-spacing: normal;
    line-height: 1em;
    text-align: left;
    text-shadow: blue;
    color: chartreuse;
    text-transform: uppercase;
}
link:hover{
    text-decoration: none;    
}
ul {
    list-style: none; 
}

body{
    background-image: url(../img/Forest.jpg);
    background-size: cover;
    background-repeat: repeat;
}
contact{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
p::first-letter{
    color: black;
    font-size: 20px;
    font-style: italic;
}

